/** General **/
body {
    background: #eeeeee;
    color: #21252e;
    font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, .btn-link {
    color: rgb(0, 105, 187);
}

.btn-outline-success {
    color: #00dda5;
    background: transparent none;
    border-color: #00cd95;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #00c38b;
    border-color: #00af78;
}

main .container-fluid {
    max-width: 1280px;
    margin: auto;
}

main {
    max-width: 1440px;
    background: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    margin: -60px auto auto;
    position: relative;
}

h3 {
    color: #004487;
    font-size: 32px;
    font-weight: 600;
}

h3 i.fas, h3 i.far, h3 i.fal {
    border: 3px solid #004487;
    border-radius: 50%;
    padding: 13px;
    color: white;
    margin-right: 5px;
    margin-left: -2.7em;
    width: 2.2em;
    text-align: center;
    background: #004487;
    font-size: 28px;
}

/** Header **/
header {
    height: 1000px;
    display: block;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    background: url("../img/backgrounds/dresden.jpg") bottom center black;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 680px;
    margin-top: -150px;
    pointer-events: none;
}

@media screen and (max-width: 1759px) {
    header {
        background-size: auto 100%;
    }
}

@media screen and (min-width: 1760px) {
    header {
        background-size: 100% auto;
    }
}

header h1 {
    color: deepskyblue;
    font-size: 72px;
    font-weight: lighter;
    margin-top: 30px;
}

header h1 .title {
    display: block;
    font-size: 24px;
    color: #84bbd4;
    line-height: 10px;
}

@media screen and (max-width: 400px) {
    header h1 {
        font-size: 56px;
    }
}

header h2 {
    color: white;
}

header .scroll-animation {
    width: 60px;
    position: absolute;
    bottom: 120px;
    left: 50%;
    margin-left: -30px;
}

/** Footer **/
footer {
    color: gray;
    font-size: 14px;
    padding: 25px 20px 5px;
}

footer span {
    font-size: 12px;
}

/** Skills **/
.skill-group {
    margin-top: 25px;
}

.skill-group h4 {
    font-weight: 600;
}

.skill-item {
    margin-bottom: 10px;
}

.skill-item strong {
    font-weight: 600;
    color: #5b5b5b;
}

.skill-item .progress {
    height: 4px;
    background: #eeeeee;
    box-shadow: 1px 1px 2px inset rgba(0, 0, 0, 0.2);
}

.skill-item .progress .progress-bar {
    background: #00dda5;
    box-shadow: 1px 1px 2px inset rgba(0, 0, 0, 0.2);
}

/** Contact **/
.contact-item i {
    font-size: 36px;
    margin: 5px 12px 0 0;
}

.contact-item strong {
    display: block;
    position: relative;
}

.contact-item div.flex-grow-1 > p > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100vw - 175px);
    display: block;
}

/** Timeline **/
.timeline ul {
    margin-top: 20px;
    padding-left: 20px;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 4px;
    margin: 0;
    padding-bottom: 50px;
    background: black;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 4px solid #00dda5;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: calc(min(1440px, 100vw) / 2.5 - 100px);
}

@media screen and (max-width: 991px) {
    .timeline ul li div {
        width: calc(100vw - 180px);
    }
}

.timeline ul li div h4 {
    font-weight: bold;
}

.timeline ul li div time {
    display: block;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}

.timeline ul li div img {
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.timeline ul li div > a {
    float: right;
    padding-right: 0;
}

.timeline ul li div {
    left: 35px;
}

.timeline ul li div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f8f8f8 transparent transparent;
}

/** Utils **/
.pl-6 {
    padding-left: 100px;
}

.text-block {
    font-size: 18px;
    line-height: 32px;
}

.hidden {
    visibility: hidden;
}
